@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 16 100% 63%;
    --primary-foreground: 0 0% 10%;
    --secondary: 236 64% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 236 64% 30%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 236 64% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 236 64% 30%;
    --input: 236 64% 30%;
    --ring: 16 100% 73%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 200 15% 27%;
    --foreground: 0 0% 98%;
    --card: 200 15% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 200 15% 22%;
    --popover-foreground: 0 0% 98%;
    --primary: 16 100% 63%;
    --primary-foreground: 0 0% 10%;
    --secondary: 236 64% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 236 64% 30%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 236 64% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 236 64% 35%;
    --input: 236 64% 35%;
    --ring: 16 100% 73%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
